@import '../dist/container';
@import '../dist/element';

.container {
  @include container();

  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;

  overflow: hidden;

  background-color: rgba(195, 195, 195, 0.6);

  /*
  z-index: 3;
  */

}

.scalable {
  @include element();

  width: 200px;
  height: 200px;

  background-color: grey;

  /*
  */
}

.scalable.scalable-transition {
  transition: transform 700ms ease-out;
}
